html{
    text-align: center;
}

body {
    background: white;
    padding: 80px;
    font-family: helvetica;
    font-weight: 100;
    margin: 0;
    text-align: center;
    /* width: 1000px; */
}

audio{
    width: 500px;
}
